/* universal styles */

* {
    box-sizing: border-box;
}





/* base styles  */

img {
    max-width: 100%;
}

p  {
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 30px 40px;
    line-height: 1.5;
}

h1 {
    margin-top: 0;
}

h1,
h2,
h3 {
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-weight: 500;
    margin-top: 30px;
}

/*  Layout Styles  */


.main-content {
    text-align: center;
}

body {
    width: 100%;
    margin-top: 0;
}

.main-content {
    margin-right: 1em;
    margin-left: 1em;
}

nav {
    background-color: #f5f5f5;
}

nav a {
    display: block;
    margin: 5px 1em;
    padding: 10px 1em;
    background-color: #fff;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-img {
    padding: 60px 60px 10px;
}

.skills-list {
    Display: block;
    list-style: none;
    padding: 0 16px 20px;
    color: #616161;
}

.skills-list li {
    padding: 10px 30px;
    background-color: #f5f5f5;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container p {
    margin-bottom: 0;
}


/*  Header Styles  */

header {
    text-align: center;
    background-color: #f5f5f5;
    width: 100%;
}

h1 {
    margin-top: 0;
    padding-top: 20px;    
}

/*  Pseudo Classes  */

a:visited {
    color: #e8b95a; 
}

a:hover {
    color: lightsalmon;
}

/*  Footer Styles  */

footer {
    background-color: #f5f5f5;
    color: #616161;
    text-align: center;
}

.contact-info {
    border-bottom: 1px solid #616161;
    padding-bottom: 50px;
}

.bottom-nav {
    padding-top: 40px;
    padding-bottom: 40px;
}

.to-top {
    padding-top: 40px;
    padding-bottom: 60px;
}

.footer-name {
    float: left;
    background-color: #f5f5f5;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-left: 1em;
}

.footer-nav {
    float: right;
}

.footer-nav a {
    background-color: #f5f5f5;
    padding-top: 0;
}


.contact-info h2 {
    padding-top: 50px;
}

.contact-info p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.contact-info a {
    padding-left: 10px;
    text-decoration: none;
    color: #545454;
    font-weight: bolder;
}

/* Media Queries */

@media only screen and (max-width: 769px) {
    .bottom-nav {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .to-top {
        display: none;
    }
}

@media (min-width: 769px) {

.main-nav {
    display: inline-block;
}

.main-nav a {
    display: inline;
    background-color: #f5f5f5;
}

.profile-img {
    width: 45%;
    float: right;
    padding: 60px 20px 40px;
}

.profile p {
    padding-top: 60px;
    text-align: left;
}

.container {
    width: 50%;
    float: left;
    padding: 0 10px;
}

.summary {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.skills-list li {
    display: inline;
    margin-bottom: 0;
}

.skills-list {
    padding-bottom: 80px;
    margin-bottom: 0;
}

.bottom-nav {
    display: inline;
}

.bottom-nav a {
    display: inline-block;
    padding-left: 20px;
    margin: 30px 0;
}

.footer-name {
    margin: 30px 0;
}

}

@media (min-width: 992px) {

main {
    border-left: 10px solid #f5f5f5;
    border-right: 10px solid #f5f5f5;
}

h1 {
    float: left;
    padding-left: 30px;

}

.main-content {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

.main-nav {
    float: right;
}

.container {
    width: 33.33%;
}

.main-nav {
    padding-top: 35px;
}

.profile p {
    margin-top: 0;
}

}

/* Float Clearfix */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
